.sidebar-section {
  display: flex;
  background-color: black;
}

.sidebar {
  height: 100vh;
  background-color: #010e1e;
  width: 90px;
  position: fixed;
}
.sidebar-toggle {
  width: 220px;
}
.sidebar-toggle-icons {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.sidebar-toggle-icons p svg {
  background-color: #2b2d50;
  color: rgb(231, 223, 223);
  margin-top: 19px;
  margin-right: 20px;
}

/* ==== MOBILE VIEW ========== */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
